<launch>
 <!-- Launch file for running the encoder test code -->
 <!-- <node pkg="rosserial_python" type="serial_node.py" name="serial_comms" args="/dev/ttyACM0" output="screen"> </node> -->

 <node pkg="test_foo" type="decoder.py" name="decs"> </node>
 <node pkg="test_foo" type="encoder.py" name="encs"> </node>
 <!-- <node pkg="test_foo" type="planner.py" name="planner"> </node> -->
 <!-- <node pkg="test_foo" type="test_encoder.py" name="test_encoder" output="screen"> </node> -->
 <node pkg="test_foo" type="talker.py" name="plans"> </node>
 <!-- <node pkg="turtlesim" type="turtlesim_node" name="turtle_boy"> </node> -->
</launch>
